name: release
on: 
  schedule:
    - cron: '0 0 * * 0,4'
  workflow_dispatch:
    inputs:
      version:
        description: "CBQN Version"
        default: ""
        required: false
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      SHA256: ""
      BRANCH: develop
      VERSION: ""
      TAG: auto
      PRERELEASE: true
      EXE_OPTS: "f=-DREPL_INTERRUPT"
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      -
        name: Set Branch
        run: |
          if [ ! -z ${{ inputs.version }} ]; then
            echo "BRANCH=v${{ inputs.version }}" >> $GITHUB_ENV
            echo "VERSION=${{ inputs.version }}" >> $GITHUB_ENV
            echo "TAG=cbqn-${{ inputs.version }}" >> $GITHUB_ENV
            echo "PRERELEASE=false" >> $GITHUB_ENV
          fi
      - 
        name: Build Docker Image (UCRT)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: winbqn-ucrt
          build-args: |
            NATIVE=0
            BRANCH=${{ env.BRANCH }}
            VERSION=${{ env.VERSION }}
            EXE_OPTS=${{ env.EXE_OPTS }}
      - 
        name: Build Docker Image (MSVCRT)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./extra.Dockerfile
          push: false
          tags: winbqn-msvcrt
          build-args: |
            NATIVE=0
            BRANCH=${{ env.BRANCH }}
            VERSION=${{ env.VERSION }}
            EXE_OPTS=${{ env.EXE_OPTS }}
      - 
        name: Get Zips
        run: |
          docker create --name build-ucrt winbqn-ucrt
          docker cp build-ucrt:/build/out/bqn.zip cbqn-ucrt-x86_64.zip
          docker rm build-ucrt
          docker create --name build-msvcrt winbqn-msvcrt
          docker cp build-msvcrt:/build/out/bqn.zip cbqn-msvcrt-x86_64.zip
          docker rm build-msvcrt
      -
        name: Get SHA256
        id: sha256
        run: |
          SHA256_UCRT=$(sha256sum cbqn-ucrt-x86_64.zip | awk '{print $1}')
          SHA256_MSVCRT=$(sha256sum cbqn-msvcrt-x86_64.zip | awk '{print $1}')
          echo "SHA256_UCRT=${SHA256_UCRT}" >> $GITHUB_OUTPUT
          echo "SHA256_MSVCRT=${SHA256_MSVCRT}" >> $GITHUB_OUTPUT
      - 
        name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TAG }}
          draft: false
          prerelease: ${{ env.PRERELEASE }}
          files: |
            cbqn-ucrt-x86_64.zip
            cbqn-msvcrt-x86_64.zip
          body: |
            Branch: `${{ env.BRANCH }}`

            | file | SHA256 |
            | - | - |
            | cbqn-msvcrt-x86_64.zip | `${{ steps.sha256.outputs.SHA256_MSVCRT }}` |
            | cbqn-ucrt-x86_64.zip | `${{ steps.sha256.outputs.SHA256_UCRT }}` |
